<form method="post" action="/tiendas/incluir">
    Ingrese el nombre de la tienda:
    <input type="text" name="nombre" size="50">

    <br>

    Ingrese el tipo de tienda:
    <input type="number" name="tipo">

    <br>

    Ingrese la calle de la dirección:
    <input type="text" name="nombreCalleDireccion" size="50">

    <br>

    Ingrese el numero de esa calle:
    <input type="number" name="numeroCalleDireccion">

    <br>

    Ingrese el código postal:
    <input type="number" name="codigoPostal">

    <br>

    Ingrese la población:
    <input type="number" name="poblacion">

    <br>

    Ingrese la localidad:
    <input type="text" name="localidad" size="50">

    <br>

    Ingrese la latitud:
    <input type="float" name="latitud">

    <br>

    Ingrese la longitud:
    <input type="float" name="longitud">

    <br>

    <input type="submit" value="Agregar">
</form>