<a href="/tiendas/creartabla">Creacion de una tabla 'tiendas' con MySQL.</a></p>
<a href="/tiendas/incluir">Añadir un elemento a la tabla.</a></p>
<a href="/tiendas/listado">Listado completo de tiendas.</a></p> 
<a href="/tiendas/SegListado">Listado de tiendas que están en la calle Castelló.</a></p>   
<a href="/tiendas/TerListado">Listado de tiendas que están en la localidad de Mar del Plata y tengan una población de 1.</a></p> 
<a href="/tiendas/CuarListado">Listado de tiendas que son de tipo 1.</a></p>   
<a href="/tiendas/MaximaLatitud">Tienda ubicada a mayor latitud.</a></p>   
<a href="/tiendas/MinimaLongitud">Tienda ubicada a menor longitud.</a></p>   
